<h1 style = "color: red; justify-content: center;text-align: center;">Listing articles</h1>
<div style = "display: flex; flex-direction: column; justify-content: center; align-items: center;text-align: center;min-height: 100vh">
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>
</div>